.footer, #header, #mobile-menu, .wvC, .brdCmb, .blogMn, .drk {display: none;}
.box {
  padding: 16px 20px;
  background: #FFFFFF;
  box-shadow: 0 5px 35px rgb(0 0 0/7%); 
  border: 0;
  border-radius: 10px;
  font-size: 14px;
  margin-bottom: 20px;
}
  
#input,#text,.rtw select{
  display: inline-block;
  width: 100%;
  height: auto;
  margin: 10px auto;
  padding: 14px;
  background: #fff;
  color: #222;
  border: 1px solid rgba(0, 0, 0, 0.08);
  border-radius: 5px;
}
  
.rtw select {
  height: 52px;
  appearance: none;
}

#input:focus,
#text:focus,
.rtw select:focus {
  outline: none;
  border: 1px dashed var(--linkC);
}
  
#textA textarea {
  height: 80px;
  -webkit-transition: all .25s ease-in-out;
  transition:all .25s ease-in-out
}
  
#textA textarea:focus {
  height: 150px;
}

#saveBtn,
#clearBtn {
  text-align: center;
  align-items: center;
  margin-top: 5px;
  padding: 12px 15px;
  outline: 0;
  border: 0;
  box-shadow: 0px 2px 25px 2px rgba(0,0,0,0.05);
  line-height: 20px;
  background: #FFF;
  font-size: 14px;
  font-weight: bold;
}
  
.f {
  border-radius: 5px 5px 0 0;
}
  
.l {
  border-radius: 0 0 5px 5px;
}

.file-options {
 margin-left: 0; 
 margin-right: 1%; 
 width: 49%; 
}
  
.save-as{
  margin-left: 0; 
  margin-right: 1%; 
  width: 50%;
}
  
.drK #saveBtn, 
.drK #clearBtn{
  background: var(--darkB);
  border: 1px solid var(--darkBl);
}
  
.drK .box,
.drK #input,
.drK #text,
.drK .rtw select {
  background: var(--darkB);
  border: 1px solid var(--darkBl);
}
  
.drK .rtw select {
  color: #fff;
}
  
.drK #input:focus,
.drK #text:focus,
.drK .rtw select:focus {
  outline: none;
  border: 1px dashed var(--darkU);
}
 
/* Useful but Nothing add here */
.option :where(input, .select-menu){margin-left: 0; margin-right: 1%; width: 50%;}
.box:where(textarea, input, select, button) {}
.box:where(textarea, input, select, button, label){}